@import "tailwindcss";


@font-face {
  font-family: 'EB Garamond';
  src: url('/font/EBGaramond-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'EB Garamond Italic';
  src: url('/font/EBGaramond-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

img, p, div {
  -webkit-user-drag: none;
  user-drag: none;
}

h1 {
  /* -webkit-text-stroke: 1px #292b2e; */
  font-family: 'EB Garamond', serif;
  @apply text-5xl text-white font-bold select-none text-center
}

h3 {
  /* -webkit-text-stroke: 1px #292b2e; */
  font-family: 'EB Garamond', serif;
  @apply text-3xl text-white font-black select-none text-center
}

button {
  font-family: 'EB Garamond', serif;
  @apply text-3xl text-zinc-900 font-black select-none bg-white px-10 shadow-lg/100 shadow-white opacity-70 cursor-pointer
  hover:shadow-red-600 hover:bg-red-600 hover:text-red-200 transition-all ease-in-out
}

@keyframes zoom-in-out {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}

@keyframes zoom-in {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.fade-in-animation {
  animation: fade-in 10s ease-in-out forwards;
}

.fade-in-animation-2 {
  animation: fade-in 3s ease-in-out forwards;
}

.zoom-in-animation {
  animation: zoom-in 10s ease-in-out forwards;
}

.fade-pulse-animation {
  animation: zoom-in-out 17s ease-in-out infinite, fade-pulse 13s ease-out infinite;
}

.fade-pulse-animation-2 {
  animation: zoom-in-out 13s ease-in-out infinite, fade-pulse 17s ease-out infinite;
}